

.logOut {
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.containerWallets{
    display: flex;
    flex-wrap: wrap;
}